html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
  margin: 1rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main";
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

.logo {
  z-index: 100;
  width: 14rem;
  grid-column: 1;
  grid-row: 2;
  margin-top: 9.2rem;
  margin-left: 1rem;
}

.pano {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

nav {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  z-index: 100;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  grid-gap: 1rem;
}

a {
  color: #fff;
}

main {
  display: contents;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

figure {
  margin: 0;
}
